main {
  font-size: 0;
}

.top {
  width: 50%;
  height: 200px;
  border: 1px black solid;
  display: inline-block;
  padding: 0;
  margin: auto;
}

.bottom {
  width: 33.33%;
  height: 300px;
  border: 1px black solid;
  display: inline-block;
  padding: 0;
  margin: auto;
}

.topleft {
  background-color: green;
}

.topright {
  background-color: blue;
}

.bottomleft {
  background-color: grey;
}

.middle {
  background-color: black;
}

.bottomright {
  background-color: orange;
}
